<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<h1 style="color:white">Smart Contact Manager</h1>
	<p style="color:white">Start Collecting your contacts in very smarter way.
	 We provide very effective and smarter way of handling contacts.
	 </p>
	 <button class="btn btn-primary btn-lg">Get Started</button>
	</div>
	
	</section>
</body>
</html>